
@media only screen and (min-width: 426px) {
    html, body {
        /*background: lightcyan;*/
        font-family: Helvetica;
        max-width: 100%;
        margin: 15px;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .row {
        /*background: blue;*/
        float: left;
        width: 100%;
    }
    .column {
        /*border: 1px solid grey;*/
        margin: 5px 0;
        float: left;
        padding: 10px;
    }
    .column.one-half {
        /*background: blue;*/
        width: calc(50% - 22px);
    }
    .column.one-third {
        /*background: green;*/
        width: calc(33.33% - 22px);
    }
    .column.one-fourth {
        /*background: lightcoral;*/
        width: calc(25% - 22px);
    }
    .column.one-sixth {
        /*background: blueviolet;*/
        width: calc(16.66% - 22px);
    }
    .column.one-eighth {
        /*background: deeppink;*/
        width: calc(12.5% - 22px);
    }
}

@media only screen and (min-width: 426px) {
    html, body {
        /*background: lightcyan;*/
        font-family: Helvetica;
        max-width: 100%;
        margin: 15px;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    .row {
        /*background: blue;*/
        float: left;
        width: 100%;
    }
}