body {
    font-family: fantasy, sans-serif;
    background-color: lightgrey;
    margin: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline black;
}

h2 {
    padding: 10px;
}

p {
    font-family: Arial, Ubuntu, sans-serif;
    padding: 10px;

}

.blog-img {
    background-image: url("https://loremflickr.com/1200/300");
    background-size: cover;
    padding: 0;
    height: 200px;
    width: 100%;
}

 .blog-welcome {
    text-align: center;
}

.blog-name {
    text-align: center;
    background-color: black;
    border-radius: 2px;
    padding: 2px 2px 0 2px;
}
.blog-title {
    padding: 0 15px;
    border-bottom: 1px solid grey;

}

.blog-date {
    color: dimgrey;
}

.box-1 {
    box-shadow: black;
    background: white;
    float: left;
    height: 50% ;
    width: calc(60% - 1em);
    padding-bottom: 15px;
    margin: auto;
    border: 1px solid darkgray;
    overflow: auto;

}